.result-container {
  margin-top: 20px;
}

.result-message {
  font-size: 18px;
  margin-bottom: 10px;
}

.result-message.correct {
  color: green;
}

.result-message.incorrect {
  color: red;
}

.next-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.next-button {
  width: 304px;
  height: 45px;
  border-radius: var(--border-radius-m, 8px);
  border-width: 1px;
  gap: 8px;
  padding: var(--spacing-s, 8px) 40px;
  border: 1px solid var(--color-brand-primary, #0E5642);
  background-color: white;
  cursor: pointer;
}

.next-button:hover {
  background-color: var(--color-brand-primary, #0E5642);
  color: white;
}